
.footer {
    background-color: #f8f9fa;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    flex-shrink: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 100;
    top: 150px;
}

.footerSection {
    margin-bottom: 30px;
}

.footerSection h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #343a40;
}

.footerSection p,
.footerSection ul {
    color: #6c757d;
    margin: 0;
    padding: 0;
}

.footerSection ul {
    list-style: none;
}

.footerSection ul li {
    margin-bottom: 8px;
}

.footerSection ul li a {
    color: #6c757d;
    text-decoration: none;
}

.footerSection ul li a:hover {
    text-decoration: underline;
}

.socialIcons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socialIcons a {
    margin: 0 10px;
    color: #6c757d;
    font-size: 24px;
    transition: color 0.3s;
}

.socialIcons a:hover {
    color: #ff4081;
}

.hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.copyright {
    font-size: 14px;
    color: black;
    margin-top: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 720px) {
    .footer {
        font-size: 13px;
    }

    .footerSection h3 {
        font-size: 18px;
    }

    .socialIcons a {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 12px;
        padding: 20px 10px;
    }

    .footerSection h3 {
        font-size: 16px;
    }

    .socialIcons a {
        font-size: 20px;
    }
}