.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center the card vertically */
  padding: 20px;
  background-color: #f0f0f0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.successMessage {
  color: green; /* Text color for success messages */
  margin: 10px 0; /* Spacing above and below */
}

.errorMessage {
  color: red; /* Text color for error messages */
  margin: 10px 0; /* Spacing above and below */
}

.loginCard {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.logoContainer {
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.formContainer {
  width: 50%;
  padding: 40px;
}

.loginTitle {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginFormGroup {
  margin-bottom: 20px;
  position: relative;
}

.loginLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.loginInput {
  width: 100%;
  padding: 12px 12px 12px 40px; /* Added left padding to create space for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5; /* Grey input background */
  font-size: 16px;
  color: #333;

}

.icon {
  position: absolute;
  top: 70%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

.showPassword {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #005bb5;
}

.signupLink {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.signupLink a {
  color: #0070f3;
  text-decoration: none;
}

.signupLink a:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 720px) {
  .loginCard {
    flex-direction: column;
  }

  .logoContainer,
  .formContainer {
    width: 100%;
  }

  .logoContainer {
    padding: 20px;
  }

  .formContainer {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .loginTitle {
    font-size: 1.5rem;
  }

  .loginInput {
    font-size: 14px;
  }

  .loginButton {
    font-size: 14px;
  }
}
