:root {
  --background: #f0f0f0; /* Light background color */
  --foreground: #171717; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Force background to stay white even in dark mode */
    --foreground: #171717; /* Text color for dark mode */
  }
}

html,
body {
  height: 100vh; /* Ensure full height for body */
  max-width: 100vw;

}

body {
  color: var(--foreground);
  background: var(--background); /* Apply the background color */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  padding: 0;
  margin: 0;
}

a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline from links */
}

/* Flexbox layout for page container */
.page-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Minimum height is full viewport height */
}

.content-wrap {
  flex-grow: 1; /* Allow this to grow and fill available space */
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark; /* Indicate that dark mode is preferred */
  }
}
